<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
      <%= form_tag("/users/find",class: "post-box",method: "get") do %>
        <p>検索(ユーザー名)</p>
          <input class="sbox" name="name" type="text" placeholder="ユーザー名を入力" value="<%= @name %>" />
          <input class="sbtn" type="submit" value="検索" />
       <% end %>

     <% if @user %>
       <% @user.each do |user| %>
       <div class="users-index-item">
         <div class="user-left">
           <img src="<%= "/user_images/#{user.image_name}" %> ">
         </div>
         <div class="user-right">
           <%= link_to(user.name, "/users/#{user.id}") %>
         </div>
      </div>
     <% end %>
     <% end %>
  </div>
</div>