  <div class="about-main">
  <h2 class="about-title">コンナビ！とは</h2>
  <p>
    コンビニの新商品やおすすめの商品を共有できるSNSサービスです。<br>
    社会のトレンドを先取り、サイクルが早いコンビニ商品について共有し、毎日のコンビニライフをより快適にする情報を交換できます。
  </p><br>
  <div class="about-sub">
    <img class="about-img1" src="/about-top1.jpg">
    <img class="about-img2" src="/about-top2.jpg">
  </div>
  <p class="about-text">
    ユーザー登録はメールアドレスとパスワードだけ！<br>
    投稿画面から、商品を買ったコンビニ名からの商品名、料金、コメントなどを記入すると、あなたのレビューが誰かのコンビニ生活における有益な情報になるかもしれません。<br>
    日々のコンビニ生活での「あの商品って美味しいのかな...」「コンビニとスーパーで買うのどっちにしよう...」というストレスから解放されるよう、お互いに素直な情報交換をしましょう！
  </p><br>
    <div class="about-sub2">
    <img class="about-img4" src="/about-top7.png">
    <img class="about-img5" src="/about-top8.png">
  </div>
  </div>

