<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="help-body">
<p class="help-title">ConNavi</p>
  <p class="help1">Q.サーズは無料で利用できますか？</p>
  A.現在は全ての機能を無料で利用することができます！「もっとこういう機能が欲しい！」「この機能っていつ使うの？」などなど、頂いたご意見に関しましてはサービスの改善に役立たせて頂きますので、忌憚のないご意見をいただけますと幸いです。<br>
<br><br>
  <p class="help2">Q.サービスに対して、要望や意見があるのですが、どこに連絡をすればよろしいですか？</p>
  A.Twitterでは<%= link_to("@connavi","https://twitter.com/connavi1")%>で情報を発信しています！<br>お手数おかけいたしますが、そちらのアカウント宛にDMでご意見いただくか、メンション付きでリプライでお願いいたします！<br>
<br><br>
  <p class="help3">Q.退会するにはどうしたら良いですか？</p>
  現在、実装中ですので、完了次第、<%= link_to("@connavi","https://twitter.com/connavi1")%>でご連絡をさせていただきます。
<br><br><br>
  <p class="help4">Q.運営メンバーは何名ですか？</p>
  独学でRailsを勉強した運営者が1名で開発全般を担当しております。それゆえ、改善のスピード等が遅い場面や、表示の乱れなどが発生する場面等が発生する可能性がございますが、随時開発スピード及び能力に関して、成長していく所存でございます。また、万が一、ユーザー数が多くなった場合、エンジニアの方を採用させていただき、改善のサイクルを強化する意向でございます。
</div>
</body>
</html>