<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="owner-body">
<p class="owner-title">ConNavi</p>
  <p class="owner-inform">運営情報</p>
  ConNaviは個人が運営しているサービスです<br>
<br><br>
  <p class="owner-account">公式アカウント</p>
  Twitterでは<%= link_to("@connavi","https://twitter.com/connavi1")%>で情報を発信しています<br>
<br><br>
  <p class="owner">運営者</p>
 「Ryota Tajima」が運営しています。Twitterは<%= link_to("@sk8erboi10261","https://twitter.com/sk8erboi10261?lang=ja") %>です<br>
<br>
</div>
</body>

</html>