<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="terms-body">
<p class="terms-title">ConNavi</p>
１．本規約の適用<br>
本規約はConNavi（以下，本サービス）が提供する全てのサービスにおいて利用する全ユーザーに適用されるものとします。<br>
<br>
２．利用登録<br>
本サービスへの登録を希望するものは定められた方法により申請を行い，それを運営チームが承認することによって利用登録が完了するものとします。その際取得する情報の管理についてはプライバシーポリシーにて定める。<br>
運営チームは申請の際に以下の項目のいずれかに該当すると判断した場合、登録申請を承認しない事があります。またその理由については一切の開示義務を追わないこととします。なお登録後に以下の事由に該当することが判明した場合も遡って承認を取り消しアカウントの停止などの処置を行うことがあります。<br>
<br>
(1)過去に退会処理などを受けた者からの申請<br>
(2)反社会勢力またはそれに準ずるものと何らかの関与や交流を持つ者からの申請<br>
(3)未成年者等の場合であり，法定代理人や後見人の同意などを得ていなかった場合<br>
(4)その他運営チームが不適切と判断した場合<br>
<br>
３．ユーザーの責任<br>
サイト利用にあたってユーザーは以下の責任を負うこととし，責任が果たせないと運営チームが判断した場合アカウントの削除などの処置を行うことがあります。<br>
<br>
(1)個人や企業，架空の登場人物，その他いかなる第三者についても差別もしくは誹謗中傷を行う行為を禁止します<br>
(2)ユーザーは自己責任において本サービスへの登録情報を管理する事とします。第三者へ譲渡もしくは貸与した場合や不正なアクセス等，いかなる場合であっても登録情報に一致したメールアドレスとパスワードの組み合わせ（もしくはTwitterアカウントによる認証）であった場合アクセスを認め，これを登録したユーザーのものとして扱います<br>
(3)詐欺行為，薬物乱用の助長や誘発等その他法，公序良俗，本規約などに違反もしくは違反するおそれがあると運営チームが判断する行為を禁止します<br>
(4)宗教活動や勧誘，自殺の幇助等その他運営チームが当サイトを利用するユーザーとして不適切と判断する行為を禁止します<br>
(5)通常の範囲を超えて本サービスのサーバーに負担をかける行為，もしくは，本サービスの運営，ネットワーク・システムに支障を与える行為，又はこれらの恐れのある行為を禁止します<br>
(6)当サイトに投稿された情報やコンテンツ等を外部に無断転載する行為を禁止します<br>
(7)第三者の財産，プライバシーもしくは肖像権を侵害する行為，又は侵害する恐れのある行為を禁止します<br>
<br>
４．投稿したデータの権利<br>
このサイトに投稿されたデータの権利は全て投稿したユーザーに帰属しますが，法律に定められた範囲においてサイト運営に必要な範囲での権利を運営に譲渡するものとします。また，ユーザーは投稿するデータ等について第三者の権利を侵害するものでないことを保証するものとし，もしユーザーが投稿したデータ等が第三者の権利を侵害するなど第三者との間で何らかの紛争が発生した場合には，該当されるユーザーの費用と責任において問題を解決するとともに，運営チームに損害を与えないものとします<br>
<br>
５．保証の否認および免責事項<br>
運営チームは，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておらず、本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。また，当サービスを利用する上で発生するユーザー間の紛争などにおいても当事者同士で解決するものとします<br>
<br>
６．サービス内容の変更等<br>
運営チームは，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとします<br>
<br>
７．利用規約の変更<br>
運営チームは，必要と判断した場合には，ユーザーに通知することなくいつでも本規約を変更することができるものとし，ユーザーは変更された利用規約に同意したものとみなされます<br>
<br>
８．準拠法・裁判管轄<br>
本規約の解釈にあたっては，日本法を準拠法とします<br>
本サービスに関して紛争が生じた場合には，東京地方裁判所を専属的合意管轄とします<br>
<br>
附則<br>
本規約は，2018年7月1日から施行します<br>
</div>
</body>
</html>