/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.posts-index-item .post-product_comment {
  float: right;
  margin-right: 150px;
}

.post-product_comment {
  padding: 0.5em 1em;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
  height: 190px;
  width: 500px;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-right .post-user-name {
  padding-bottom: 3px;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-product_name a:hover {
  color: #3ecdc6;
}

.store_category a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.product_image {
  padding-top: 5px;
}

.product_content {
  padding-top: 5px;
}

.product_price {
  padding-top: 5px;
}

.post-product_name{
  margin-bottom: 10px;
}

.post-right img {
  width:180px;
  height:180px;
}

.post-time {
  float: right;
}

.box {
    padding: 1em 2em;
    margin: 0.2em 0em 2em 0em;
    font-weight: bold;
    border: solid 2px #000000;
}
.box input {
    margin: 0;
    padding: 0;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-show img{
  width:200px;
  height:200px;
  border-radius: 0%;
  margin-bottom: 15px;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 30px;
  margin: 20px 0px;
}

.post-time {
  color: #8899a6;
  margin-left: 20px;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.post-reply-like {
  float: left;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

.posts-show-item .fa {
  font-size: 20px;
  margin-right: 3px;
}

.posts-show-item .fa-reply {
  margin-left: 5px;
}

.posts-show-item .fa-heart {
  margin-left: 20px;
}

.like-btn {
  color:#8899a6;
}

.like-btn-unlike {
  color:#ff2581;
}

